@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rose-violet-lg {
    @apply bg-gradient-to-tr from-rose-400  to-violet-500 text-transparent bg-clip-text text-center;
  }

  .lightblue-blue-lg {
    @apply bg-gradient-to-r from-blue-400 to-blue-800 bg-clip-text text-transparent;
  }
  .lightyellow-yellow-lg {
    @apply bg-gradient-to-r from-yellow-300 via-yellow-500 to-orange-400 bg-clip-text text-transparent;
  }
  .lightblue-blue-bg-lg {
    @apply bg-gradient-to-r from-blue-400 to-blue-800;
  }
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
